[Unit]
Description=Sync Steam Games to NTFS drive before shutdown
DefaultDependencies=no
RequiresMountsFor=/ /mnt/SSDWin /mnt/SSD2Win /mnt/winOverlay/SSDWinLower /mnt/winOverlay/SSDWinLower
Before=umount.target
After=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/system-shutdown/SteamOverlaySync.sh

[Install]
WantedBy=shutdown.target